@media (min-width: 768px) {
  .col-md-6 {
    width: 40%;
  }
}

.card.login {
  filter: brightness(90%);
}

.card.login form {
  filter: brightness(100%);
}

.card.login .form-control {
  color: black !important;
  background-color: white !important;
}

.login .form-label {
  color: white !important;
}

.alert-light {
  margin: 10px !important;
  padding: 10px !important;
  font-size: 15px !important;
}

.alert-secondary {
  margin: 10px !important;
  font-size: 15px !important;
}

.form-group {
  margin: 10px;
}

.alert-link {
  font-weight: 500;
}

.register-link {
  float: right;
  margin-right: 20px;
  color: #d3ac35;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}
