<div class="container" style="margin-top: 100px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card login">
        <div class="card-body">
          <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4"
                  >Registration</label
                >
                <input
                  type="email"
                  class="form-control"
                  aria-describedby="emailHelp"
                  formControlName="username"
                  placeholder="Enter Username"
                />
              </div>
              <div class="form-group">
                
                <input
                  type="password"
                  formControlName="password"
                  value="react"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <div class="form-group">
                
                <input
                  type="password"
                  formControlName="passwordRepeated"
                  value="react"
                  class="form-control"
                  placeholder="Repeat Password"
                />
              </div>
              <div class="form-group mt-4">
                <button
                  type="button"
                  [disabled]="!form.valid"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Register
                </button>
                <a [routerLink]="['/login']" class="register-link">Login</a>
              </div>
            </fieldset>
          </form>
          <div
            class="alert alert-dismissible alert-light"
            *ngIf="this.errorMessage"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
            ></button>
            <strong>Heads up!</strong> {{ errorMessage }}.
          </div>
          <div
            class="alert alert-dismissible alert-secondary"
            *ngIf="this.message"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
            ></button>
            {{ message }}.
            <a [routerLink]="['/login']" class="alert-link">Go to login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
